/***************************************/
/* 6. apresentação
/***************************************/

.apresentacao {
  max-width: 1200px;
  padding: 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse; 
  justify-content: space-between;
  align-items: center;
}


/***************************************/
/* 7. estilização profile
/***************************************/
.apresentacao__profile {
  width: 450px;
}

.apresentacao__container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: center; 
  margin: 0 auto;
  padding: 0 10px;
}

.apresentacao__titulo {
  font-size: 3rem;
  line-height: 1.3;
  margin: 0 0 10px;
}

.apresentacao__titulo span {
  color: var(--clr-light-pink);
}

.apresentacao__texto {
  color: var(--clr-main-text);
  font-family: "Raleway", sans-serif;
  font-size: 1.375em;
  font-weight: 400;
  margin: 0 auto;
}


/***************************************/
/*         responsividade
/***************************************/

@media (max-width: 768px) {
  .apresentacao {
    display: flex;
    flex-direction: column;
  }

  .apresentacao__profile {
    max-width: 400px;
    height: auto;
  }

  .apresentacao__container {
    align-items: center;
  }

  .apresentacao__titulo {
    font-size: 2em;
    line-height: 1.3;
  }
}
