/***************************************/
/* 12. skills
/***************************************/

/***************************************/
/* 12.1 skills__titulo
/***************************************/
.skills__titulo {
  padding: 80px;
  text-align: center;
}

/***************************************/
/* 12.2 skills__container
/***************************************/
.skills__container {
  background: var(--clr-white);
  max-width: 1200px;
  padding: 60px 40px;
  margin: 0 auto;
  border-radius: 5px;
}

/***************************************/
/* 12.3 skills__container__skills list
/***************************************/
.skills__container__skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  row-gap: 50px;
}

.skills__container__skills i {
  font-size: 60px;
}

.skills__name {
  padding-top: 10px;
}

/***************************************/
/* 13. hobbies
/***************************************/

/***************************************/
/* 13.1 hobbies__titulo
/***************************************/
.hobbies__titulo {
  padding: 80px;
  text-align: center;
}

/***************************************/
/* 13.2 hobbies__container
/***************************************/
.hobbies__container {
  background: var(--clr-white);
  max-width: 1200px;
  padding: 60px 40px;
  margin: 0 auto;
  border-radius: 5px;
}

/***************************************/
/* 13.3 hobbies__container__hobbies list
/***************************************/
.hobbies__container__hobbies {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.hobbies__container__hobbies i {
  font-size: 60px;
}

.hobbies__name {
  padding-top: 10px;
}

/***************************************/
/*         responsividade
/***************************************/
@media (max-width: 768px) {
  .skills__container__skills {
    display: grid;
    grid-template-columns: 1fr 1fr;

  }

  .skills__container__skills i {
    font-size: 30px;
  }

  
  .hobbies__container__hobbies {
    display: grid;
    grid-template-columns: 1fr 1fr;   
    gap: 50px; 
  }

  .hobbies__container__hobbies i {
    font-size: 30px;
  }
}
